body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f0fdfa;
}

header {
    background-color: teal;
    color: white;
    text-align: center;
    padding: 1rem;
}

main {
    max-width: 600px;
    margin: auto;
    padding: 1rem;
    background: white;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: bold;
}

input,
select,
textarea {
    padding: 8px;
}

fieldset {
    border: 2px solid teal;
    padding: 10px;
}

button,
input[type="submit"] {
    background-color: teal;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 1rem;
    background: teal;
    color: white;
}