@media screen and (min-width: 600px) {

    /* Hide hamburger */
    #menuButton {
        display: none;
    }

    /* Show nav always */
    nav ul {
        display: flex !important;
        flex-direction: row;
        justify-content: center;
    }

    nav li {
        margin: 0 1rem;
    }

    /* Responsive grid */
    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}